<%- include("templates/cabecera", {tituloWeb: "index"})%>
<body>

    
    <%- include("templates/navbar")%>
    <h1>prueba</h1>

    <form >
        <input type="text" placeholder="Nombre" id="nombre">
        <input type="text" placeholder="Apellido" id="apellido">
        <input type="date" id="fecha">
        <button type="submit" id="agregar">Agregar</button>
    </form>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">acciion</th>
        </tr>
        </thead>
        <tbody>
           <%# el array viene de rutasWeb, es el array que contiene a los objetos de la base de dato %>  
            <% if (array.length>0) { %>
                <% array.forEach(paciente => { %>
                    <tr>
                        <th scope="row"><%= paciente.id %></th>
                        <td><%= paciente.nombre %></td>
                        <td><%= paciente.apellido %></td>
                        <td><%= paciente.fecha %></td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
    </table>
</body>
</html>

